body {
                
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
                
}

#clear {
    
    clear: both;
    
}

#wrap-side-container {
                
    max-width: 29.125em;
    background-color: #252525;
    float: left;
    color: #fff;
    font-weight: 300;
                
}

.side-container{
    
    padding: 3.750em;
    
}

.avatar {
    
    margin: 0 auto;
    max-width: 224px;   
    
}

h1, h2, h3, h4 {
    
    font-weight: 700;
    
}

h1 {
    
    font-size: 2em;
    margin-bottom: 10%;
    
}

hr {
    
    border: 0.05em dashed #fff;
    margin-bottom: 10%;
    
}

h2 {
    
    font-size: 1.25em;
    margin-bottom: 5%;
    
}

.about p {
    
    font-size: 0.95em;
    color: #ccc;
    line-height: 1.5em;
    margin-bottom: 5%;
    
}

li {
    
    float: left;
    padding: 0.750em 1.125em;
    margin: 0 0.5em 0.5em 0;
    background-color: #D82044;
    border-radius: 16px;
    font-size: 0.90em;
    
}

li:last-child {
    
    margin-bottom: 5%;
    
}

.social-item {
    
    margin-bottom: 7%;
    
}

.social-item a {
    
    text-decoration: none;
    color: #fff;
    
}

.social-item a:hover {
    
    color: #ccc;
    
}

.social img {
    
    float: left;
    margin-right: 0.5em;
    
}

.p-social {
    
    position: relative;
    top: 0.40em;
    
}

#wrap-main-container {

    background-color: #fff;
    font-weight: 300;
}



.main-container h2 {
    
    margin-bottom: 2%;
    
}